<template>
  <div id="login" class="panel">
      <div class="panel-heading">
          <div class="text-center">
              <h3 class="panel-title">Log in to the app</h3>
          </div>
          <div class="clearfix"></div>
      </div><!-- /.panel-heading -->

      <div class="panel-body no-padding">
          <form method="POST" id="login_form">
              <!-- @csrf -->

              <div class="form-group row">
                  <div class="col-md-12">
                      <input id="email"
                             type="email"
                             v-model="email"
                             class="form-control"
                             v-bind:class="{'is-invalid': error.email}"
                             name="email" required
                             autocomplete="email"
                             placeholder="Email" />

                      <i class="fa fa-user"></i>

                      <span class="invalid-feedback" role="alert" v-if="error.email">
                          <strong>{{ error.email }}</strong>
                      </span>
                  </div>
              </div>

              <div class="form-group row">
                  <div class="col-md-12">
                      <input id="password"
                             type="password"
                             v-model="password"
                             class="form-control"
                             v-bind:class="{'is-invalid': error.password}"
                             name="password" required
                             autocomplete="current-password"
                             placeholder="Password" />

                      <i class="fa fa-lock"></i>

                      <span class="invalid-feedback" role="alert" v-if="error.password">
                          <strong>{{ error.password }}</strong>
                      </span>
                  </div>
              </div>

              <div class="form-group row">
                  <div class="col-md-6">
                      <div class="form-check">
                          <div class="mwi-checkbox">
                              <input class="form-check-input"
                                     type="checkbox"
                                     name="remember"
                                     id="remember"
                                     v-model="remember" />
                          </div>
                          <label class="form-check-label" for="remember">Remember Me</label>
                      </div>
                  </div>
              </div>

              <div class="form-group row">
                  <div class="col-md-12">
                      <button type="submit" @click.prevent="login()" name="login" class="btn btn-primary">Log In</button>
                  </div>
              </div>
          </form>

      </div><!-- /.panel-body -->
  </div><!-- /.panel -->
</template>

<script>
export default {

    data() {
      return {
        error: {
          email: false,
          password: false,
        },
        email: '',
        password: '',
        remember: '',
      }
    },

    mounted: function() {
        axios.get('/airlock/csrf-cookie').then(response => {
            // Login...
            console.log(response)
        });
    },

    methods: {
        login() {
            let formData = new FormData($('#login_form')[0]);
            axios.post('/api/v1/login', formData).then((response) => {
              console.log('response: ', response);
              if (response.data.data.success == true) {
                // window.location.href = response.data.data.intended
              }
            }).catch((error) => {
              console.log(error)
            })
        }
    }
}
</script>

