<template>
    <div>
        <router-link tag="a" to="/">Home</router-link>
        <router-link tag="a" to="/about">About</router-link>
        <router-link tag="a" to="/groups">Groups</router-link>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
</style>
