<template>
  <div>
      Home Component
  </div>
</template>

<script>
export default {
    data() {
      return {
        //
      }
    },

    mounted: function() {
        //
    },

    methods: {
        something() {
            //
        }
    }
}
</script>

